body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 9px 9px 5px rgb(129, 214, 243);
    padding:1rem;
    padding-right: 2rem;
    padding-left: 2rem;
}
span{
    color:#74c0fc;
}
.logo {
    color: black;
    font-size: 2.5rem;
    font-weight: bold;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 2rem;
    gap: 2rem;
}

a{
    display: block;
    color:black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

a:hover {
    color: #74c0fc;
}

.btn{
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #74c0fc;
}

.right_element {
    display: flex;
    align-items: center;
    font-size: 2rem;
    gap: 2rem;
}

.right_element > div {
    margin-left: 15px;
}
@media (max-width: 1150px) {
    .list {
        display: none;
    }
    .btn{
        display: block;
    }
    .right_element {
        display: none;
    }
}
