body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.container {
    text-align: center;
    
    height:22rem;
    width:30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 9px 9px 5px lightblue;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

.countdown {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.time-section {
    background: #444;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.time {
    font-size: 3em;
    display: block;
}

.label {
    font-size: 1em;
    margin-top: 10px;
    color: #bbb;
}
input{
    width: 3rem;
    height: 1.3rem;
}
.timer{
    display: flex;
    gap:1rem;
    margin-bottom: 2rem;
    border: none;

}