body{
    background-color:black;
}
.container{
    /* border:2px solid rgb(223, 7, 25); */
    display: flex;
    flex-direction:row;
    /* border: #e76262; */
    justify-content: space-between;
}
h1{
    box-shadow: 9px 9px 5px lightblue;
}
#iconlast{
    font-size: 3rem;
    margin-top: 1rem;
    margin-right: 2rem;
    cursor: pointer;
    text-shadow: 2px 3px 4px #4963d4;
}
#iconlast:hover{
    font-size: 4rem

}
.sidebar{
    border:4px solid rgb(44, 228, 99);
    background-color:white;
    height: 98vh;
    width:22vw;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
#icon1{
    font-size:1.7rem; 
    text-shadow: 2px 3px 4px #e76262; 
    cursor: pointer;
    transition:transform 1s;
}
#icon1:hover{
    transform: rotate(360deg);

}
.d1{
    padding: 1.3rem 1.8rem 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(55, 21, 207);
}
.d2{
    /* margin-top: 3rem; */
    display: flex;
    flex-direction:column;
    padding-left:2rem;
    gap:2rem;
    /* border: 2px solid orange; */
}
.h{
    font-size: 1.8rem;
    color:gray;
    cursor: pointer;

}
.h:hover{
    background-color: #b5d8f3;
    height: 3rem;
    padding-top: 1rem ;
    padding-left: 1rem;
    text-shadow: 1px 1px 2px #2b2a2a;
    
}
#icons{
    border: 2px solid rgb(211, 20, 154);
    display: flex;
    gap: 1rem;
    justify-content: center;
    /* margin-top:30rem; */

}
i{
    font-size:1.7rem;
    cursor: pointer;
}
span{
    color: rgb(74, 184, 235);
}
.side1{
    border:2px solid rgb(238, 154, 28)
}
/* @media (max-width: 1575px) {
    /* .sidebar{
        display:none;
    }   */
    /* .iconlast{
        text-align: right;
    } */
  /* } */ 