
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: black;
    /* background-color: antiquewhite; */
}
.main-container{
    margin: 4rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
#imges{
    width: 80%;
    height: 80vh;
    border-radius: 1rem;
    box-shadow: 9px 9px 5px lightblue;

}
.name{
    font-size: 1.5rem;
}
.number{
    font-size: 2rem;
}
.btnContainer{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.btn{
    background-color: white;
    border: none;
    width: 6rem;
    border-radius: 1rem;
    font-size: 2rem;
    color: gray;
}
.btn:hover{
    color: rgb(7, 7, 7);
}
h1{
    color: white;
}